<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<h1>Novelle offre vous a été affecté 🙂🙂</h1>
<div>Welcome <b th:text="${email.to}"></b></div>
<div>
    <a th:href="${email.data.role=='CALLER'}? 'http://localhost:4200/caller/offres':'http://localhost:4200/supervisor/offres'">Vous
        Offres</a>
</div>
<div> Nombre d'offres: <b th:text="${email.data.nombre}"></b></div>
<bold>Thanks</bold>
</body>
</html>